/**************************HTML*TAGS********************************/
body{
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: #F0EBE3;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
    line-height: 1.5; 
    font-weight: 900;
}
hr{
    width: 65%;
    margin: 0 auto;
    border: 1px solid black;
}
p{
    color: #8f8f8f;
}
a{
    margin: 15px;
    font-size: x-large;
    color: black;
}
img{
	max-width: 100%;
}
footer ul li{
    color: #8f8f8f;
    font-size: 1rem;
}
span{
    font-weight: 600;
}
/**************************CLASSES********************************/
.big-heading{
    font-size: 3.5rem;
    background-color: rgba(87,110,114,0.9);
    border-radius: 0.5rem;
}
.md-heading{
    font-size: 3rem; 
}
.sm-heading{
    font-size: 1.5rem;
}
.col-lg-6{
    position: relative;
}
.container-fluid{
    padding: 5% 15%;
}
#title .container-fluid{
    padding: 7% 3%;
}
.copyright{
    margin: 20px 0;
}
.colored-section{
    background-color: #576F72;
    color: white;
}
.carousel-item{
    padding: 2.5rem 0;
}
.white-section{
    background-color: #F0EBE3;
}
.feature-box{
    padding: 5%;
}
.features-icon{
    color: #7D9D9C;
    font-size: 4rem;
}
.features-icon:hover{
    color: #576F72;
}
.fa-arrow-right{
    padding: 0 0 0 1rem;
}
.gallery img{
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	cursor: pointer;
}
.gallery-button{
    width: 100%;
    color: white;
    border: none;
    background-color: rgba(128, 128, 128, 0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    height: 14rem;
    border-radius: 5px;
	cursor: pointer;
    transition: all 0.3s ease;
}
.gallery-button a{
    text-decoration: none;
}
.gallery-button:hover{
    background-color: rgba(128, 128, 128, 0.4);
    font-size: xx-large;
}
.navbar{
    padding: 0 1rem;
    background-color: #576F72;
}
.navbar-brand{
    width: 5rem;
}
.justifi{
    text-align: left;
}
.nav-item{
    display: flex;
    margin: auto 0;
}
.nav-link{
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
}
.desno{
    text-align: right;
}
.postupak{
    text-align: center;
    background-color: #E4DCCF;
    width: 60%;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.naslov-pocetak{
    font-family: "Dancing Script";
    text-align: center;
    font-size: 8rem;
    margin: 0 auto;
    color: white;
    padding: 10px;
    width: 99%;
}
.dodatni-tekst{
    font-family: "Lato";
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin: 0vh auto;
    color: white;
    width: 99%; 
}
.prica{
    font-size: 1.2rem;
    color: black;
    margin-bottom: 2.3rem;
}
.white-section#O-nama div:not(#izrada-namjestaja) p{
    display: flex;
    width: 75%;
    margin: auto auto;
}
.podaci-obrta{
    text-align: left;
    margin: auto 0;
}
.gallery div{
    margin-bottom: 1rem;
}
.upit a{
    font-size: large;
    color: white;
    text-decoration: none;
}
.upit i:hover{
    color: black;
}
/**************************ID-S***********************************/
#gallery-modal .modal-img{
	width: 100%;
}
#mail{
    color: #8f8f8f;
    font-size: 1rem;
}
#mini{
    font-size: x-small;
    font-weight: 400;
}
#usluge{
    position: relative;
    z-index: 1;
}
#press{
    padding-bottom: 3%;
}
#naslov{
    padding: 0;
    opacity: 0; 
}
#Izrada-namjestaja a{
    font-size: large;
    color: white;
}
#Obnova-namjestaja i{
    color: black;
}
#Galerija a{
    font-size: large;
    color: white;
}
#Obnova-namjestaja a{
    font-size: large;
    color: black;
}
#O-nama img{
    margin-top: 0;
    width: 14rem;
    height: 13rem;
}
#sivi-tekst{
    margin-top: 2rem;
    background-color: rgba(87, 110, 113, 0.1);
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
#sivi-tekst-dva{
    background-color: rgba(87, 110, 113, 0.1);
    border-radius: 1em;
    padding: 1rem;
    font-weight: 600;
}
#sivi-tekst-dva button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 15rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem;
    transition: all 0.3s ease;
}
#sivi-tekst-dva button:hover{
    font-size: large;
    background-color: #8f8f8f;
}
#natuknice-pocetak{
    margin: 2rem auto;
}
#pricing{
    padding: 5%;
}  
#footer{
    padding: 2% 15%;
}
#title{
    background-image: url("/dokumentacija/pic/kuhinja-blur-dark.png");
    background-size: cover;
    background-attachment: fixed;
}
#Izrada-namjestaja .prica{
    color: white;
}
#izrada-namjestaja{
    height: 2vh;
    z-index: -5;
}
#obnova-namjestaja{
    height: 2vh;
    z-index: -5;
}
#postupak-narucivanja{
    height: 5vh;
    z-index: -5;
}
#kontaktirajte-nas{
    height: 2vh;
    z-index: -5;
}
#naslov button{
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 2rem auto 0;
    transition: all 0.3s ease;
}
#naslov button:hover{
    color: black;
    background-color: white;
    font-size: large;
}
#naslov a:hover{
    color: black;
}
/**************************FORMS**********************************/
#form .container-fluid{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.contact-form input,
.contact-form textarea {
    display: block;
    position: relative;
    width: 60%;
    padding: 10px;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form input[type="radio"]{
    display: inline-block;
    width: 1rem;
}
.contact-form textarea{
    height: 200px;
}
.rdo{
    display: inline-block;
    width: 10rem;
}
.contact-form input[type="checkbox"]{
    display: inline-block;
    width: 2rem;
}
.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease;
}
.contact-form button:hover{
    font-size: large;
    background-color: #8f8f8f;
}
.contact-form li{
    width: 70%;
    margin: 1rem auto;
    text-align: left;
}
#upute-forma{
    width: 58%;
    margin-right: 0;
    text-align: left;
}
#upute-forma li{
    width: 90%;
}
/**************************ANIMATIONS*******************************/
@keyframes fadeIn-prica {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}
/*************************POPUP*MODAL*****************************/
section i{
    color: white;
    padding: 1rem;
    z-index: 3;
}
#prev{
    padding: 10rem 1rem;
}
#next{
    padding: 10rem 1rem;
}
section .modal-layer {
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}
section .modal-layer .slide-img {
    width: 75%;
    height: 75%;
    margin-top:15vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/*********************************PAARTNERS*SLIDER********************************/
.partners-container{
    overflow: hidden;
    padding-top: 6rem;
    white-space: nowrap;
    background-color: #576F72;
}
.partners-slider{
    display: inline-block;
    padding: 3rem 0;
    animation: 25s partner-slider infinite linear;
}
.partners-container img{
    height: 5rem;
    margin: 0 2rem;
}
@keyframes partner-slider {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-159%);
    }
}
/********************IZRADA*NAMJEŠTAJA*GALERIJA**********************/
#Izrada-naslov-galerija p{
    margin: 1rem 1rem 3rem 0rem;
}
#sivi-tekst-dva p{
    margin: auto 0;
}

/********************OBNOVA*NAMJEŠTAJA*GALERIJA**********************/
