/**************************HTML*TAGS********************************/
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5; 
    font-weight: 900;
} 
p{
    color: #8f8f8f;
}
a{
    margin: 15px;
    font-size: x-large;
    color: black;
}
img{
	max-width: 100%;
}
footer ul li{
    color: #8f8f8f;
    font-size: 1rem;
}
/**************************CLASSES********************************/
.big-heading{
    font-size: 3.5rem;
    background-color: rgba(87,110,114,0.9);
    border-radius: 0.5rem;
}
.md-heading{
    font-size: 3rem; 
}
.sm-heading{
    font-size: 1.5rem;
}
.col-lg-6{
    position: relative;
}
.container-fluid{
    padding: 7% 15%;
}
#title .container-fluid{
    text-align: left;
    padding: 10% 3%;
}
.copyright{
    margin: 20px 0;
}
.colored-section{
    background-color: #576F72;
    color: white;
}
.carousel-item{
    padding: 2.5rem 0;
}
.white-section{
    background-color: #F0EBE3;
}
.feature-box{
    padding: 5%;
}
.features-icon{
    color: #7D9D9C;
    font-size: 4rem;
}
.features-icon:hover{
    color: #576F72;
}
.gallery img{
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	cursor: pointer;
}
.navbar{
    padding: 0 1rem;
    background-color: #576F72;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.O-nama{
    text-align: justify;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.3rem;
    font-weight: 300;
}
.desno{
    text-align: right;
}
.postupak{
    text-align: center;
    margin-bottom:5%;
    background-color: #E4DCCF;
    width: 60%;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.prica-pocetak{
    text-align: center;
    margin-bottom:7%;
    background-color: #E4DCCF;
    width: 60%;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    opacity: 0;
}
.prica{
    font-size: 1.2rem;
    color: black;
    margin-bottom: 2.3rem;
}
/**************************ID-S***********************************/
#drugi{
    animation-delay: 2s;
}
#drugi.prica-pocetak{
    margin-left: 40%;
}
#gallery-modal .modal-img{
	width: 100%;
}
#mail{
    color: #8f8f8f;
    font-size: 1rem;
}
#usluge{
    position: relative;
    z-index: 1;
}
#press{
    padding-bottom: 3%;
}
#naslov{
    padding: 0;
    animation: naslov 1s ease-in-out;
}
#podaci{
    text-align: left;
}
#prvi{
    animation-delay: 1s;
}
#pricing{
    padding: 5%;
}  
#footer{
    padding: 2% 15%;
}
#title{
    background-image: url("dokumentacija/pic/pexels-karl-solano-2883049.jpg");
    background-size: 110%;
}
#Obnova-namjestaja .prica{
    color: white;
}
/**************************FORMS**********************************/
#form .container-fluid{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.contact-form input,
.contact-form textarea {
    display: block;
    position: relative;
    width: 60%;
    padding: 10px;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form input[type="radio"]{
    display: inline-block;
    width: 1rem;
}
.contact-form label{
    margin-right: 2rem;
}
.contact-form textarea{
    height: 200px;
}
.contact-form input[type="radio"],
.contact-form #radios{
    margin-bottom: 2rem;
}
.contact-form input[type="checkbox"]{
    display: inline-block;
    width: 2rem;
}
.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.contact-form li{
    width: 70%;
    margin: 1rem auto;
    text-align: left;
}
/**************************ANIMATIONS*******************************/
@keyframes naslov{
    0%{
        opacity: 0;
        transform: translateY(-10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn-prica {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}
/*************************NESTED*CLASSES*******************************/
